<svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" aria-hidden="true">
  <g stroke-width="1.5" stroke-linecap="butt">
  <path d="M14.31 8 L20.05 17.94"/>
  <path d="M9.69 8 L21.17 8"/>
  <path d="M7.38 12 L13.12 2.06"/>
  <path d="M9.69 16 L3.95 6.06"/>
  <path d="M14.31 16 L2.83 16"/>
  <path d="M16.62 12 L10.88 21.94"/>
  </g>
  <path d="M20.48 6.7 A10 10 0 1 1 16.23 2.94" stroke-width="2" stroke-linecap="round"/>
  <path d="M18.61 4.05 L15.22 5.08 L17.23 0.79 Z" fill="currentColor"
  stroke-width="0.5" stroke-linejoin="round" stroke-linecap="round"/>
</svg>
